<h1>Editing Item</h1>

<%= render 'form', item: @item %>

<div class="container margin">
	<a><%= link_to 'Show', @item, :class =>"btn-admin" %></a>
	<a><%= link_to 'Back', items_path, :class =>"btn-admin" %> </a>
</div>

