/*= GENERAL CSS - LARGE/DESKTOP
--------------------------------------------------------*/
html {
  /* line-height: 1.15; 1 */
  -webkit-text-size-adjust: 100%; 
}

body {
    font-family: 'Raleway', sans-serif;
    color: #230D0C;
    background-color: #fff;
    margin: 0;
}

/* Flexbox Layout to distribute the content */
.flex-container {
    display: flex;
    justify-content:space-around;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

/* border all */
.border{
    border: 1px solid #000;
}

/* border bottom decorated*/
.bottom-dotted{
    border-bottom: 5px dotted #230D0C;
    width: 60%;
    margin: auto;
    padding-bottom: 20px;
}

/* margin all */
.margin{
    margin: 20px;
}

/* margin auto */
.margin-auto{
    margin: auto;
}

/* margin top of 2% */
.mt-1{
    margin-top: 2%;
}

/* margin left of 2% */
.ml-1{
    margin-left: 2%;
}

/* margin right of 2% */
.mr-1{
    margin-right: 2%;
}

/* margin bottom of 2% */
.mb-1{
    margin-bottom: 2%;
}

/* padding all of 5%*/
.padding-1{
    padding: 5%;
}

/* padding top of 2% */
.pt-1{
    padding-top: 2%;
}

/* padding left of 2% */
.pl-1{
    padding-left: 2%;
}

/* padding right of 2% */
.pr-1{
    padding-right: 2%;
}

/* padding bottom of 2% */
.pb-1{
    padding-bottom: 2%;
}

/* Float Property to letf */
.float-left{
    float: left;
}

/* Float Property to right */
.float-right{
    float: right;
}

/* Text Alignment to the left */
.text-left{
    text-align: left;
}

/* Text Alignment to centre */
.text-center{
    text-align: center;
}

/* Text Alignment to the right */
.text-right{
    text-align: right;
}

/* Text Alignment justify */
.text-justify{
    text-align: justify;
}

/* Image responsive*/
.img {
    width: 100%;
    height: auto;
}

/* Headings*/
    h1 { 
        font-weight: 800;
        font-size: 2rem;
        text-align: center;
    }

    h2{
        text-align: center;
        font-weight: 800;
        font-size: 1.8rem;
    }

h4{
    font-weight: 200;
    font-size: 1.5rem;
}

.banner-h1{
    font-weight: 800;
    font-size: 3.5rem;
    color: #fff;
    border-bottom: 3px dotted #fff;
}

.banner-h2{
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
}

.text-justify{
    text-align: justify;
}

.text-center{
    text-align: center;
}

.link {
  color: #ED3D3D;
  font-weight: 700;
}

.link:visited {
    color: #664B4B;
    font-weight: 700;
    
}

.link:hover {
    color: #ED3D3D;
    font-weight: 800;
}


/*= Header
--------------------------------------------------------*/
header {
    padding: 0;
    margin: 0 !important;
    text-align: center;
    background-color: #F1EFEF;
    color: #230D0C;
    display: block;
}

.form-search{
    width: 450px;
    height: 40px;
    margin-top: 40px;
}

.form-search input[type=text] {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #675151;
    border-radius: 2px;
    color: #230D0C;
    font-size: 1rem;
    font-weight: 100;
    background-color: white;
    background-image: url("/assets/index/Search.png"); 
    background-position: 420px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.login{
    margin-top: 80px;
    padding: 0;
    display: inline-block;
}

a.btn-primary{
    background-color: #ED3D3D;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin: 0px;
    padding: 10px 25px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 1px 1px 2px #675151;
}

a.btn-primary:hover{
    background-color: #AD2D2D;
    color:#fff;
    font-weight: 500;
}

.shop-icon{
    margin-top: 80px;
    padding: 0;
    display: inline-block;
}

.btn-admin{
    background-color: #F1EFEF;
    color: #230D0C;
    font-size: 1rem;
    font-weight: 500;
    margin: 0px;
    padding: 10px 25px;
    border-radius: 20px;
    border:2px solid #230D0C;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}



/*= Navigation
--------------------------------------------------------*/
nav{
    padding: 20px 20px;
    text-align: center;
    display: block;
    background-color: #230D0C;
}

nav a{
    margin-left: 20px;
    display:inline;
    padding: 20px;
    color:#fff;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.2rem;
    text-align: left;
    transition: all 0.3s ease;
}

nav a:hover{
    font-weight: 300;
    background-color: #664B4B;
}


/*= Footer
--------------------------------------------------------*/
footer {
    padding: 10px;
    text-align: center;
    background-color: #230D0C;
    color: #fff;
    font-weight: 200;
    font-size: 1rem;
}


.social-media{
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 70%;
    border-bottom: 1px dotted #fff;

}



/*= Content -HOME
--------------------------------------------------------*/

main{
    display: block;
}

.margin{
    margin:20px 10px;
}

.banner{
    background: url('/assets/index/home-1.jpg') 50% 50%  no-repeat fixed;
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 40px;
}

.heading{
    margin: auto;
    width: 60%;
    border-bottom: 3px dotted #fff;
    padding-bottom: 20px;
}


a.btn-large{
    background-color: #ED3D3D;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0px;
    padding: 15px 100px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 1px 1px 2px #675151;
}

h2{
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
}

.product-card{
    width: 240px;
    background-color: #F1EFEF;
    border-radius: 4px;
    border:.5px solid #C7BFBF;
    box-shadow: 2px 2px 2px #675151;
    margin: 20px 10px;
    text-align: center;
}

.img {
  width: 100%;
  height: auto;
}

a.btn-secondary{
    background-color: #230D0C;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin: 0px;
    padding: 10px 25px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 1px 1px 2px #675151;
}

a.btn-secondary:hover{
    background-color: #664B4B;
    color:#fff;
    font-weight: 500;
}

/*= Content - forms
--------------------------------------------------------*/
.form-card{
    width: 50%;
    height: 100%;
    background-color: #F1EFEF;
    border-radius: 4px;
    border:.5px solid #C7BFBF;
    box-shadow: 2px 2px 2px #675151;
    margin: auto;
}

.form-inputs{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #664B4B;
    border-radius: 2px;
}

.form-inputs:hover{
     background-color: #F1EFEF;
     box-shadow: 1px 1px 3px #664B4B;
}

input[type=submit] {
    font-family: 'Raleway', sans-serif;
    width: 98%;
    background-color: #ED3D3D;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin: auto;
    padding: 15px 25px;
    border-radius: 3px;
    cursor: pointer;
}

input[type=submit]:hover {
    font-family: 'Raleway', sans-serif;
    background-color: #AD2D2D;
    color:#fff;
    font-weight: 500;
}


input[type=text], select {
    width: 98%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-text{
    width: 95%;
    height: 200px;
    display: inline-block;
}


/*= Content - Categories
--------------------------------------------------------*/

#itemsContainer {
    width: 100%;
    text-align: center;
}


.category-card{
    width: 25%;
    height: 100%;
    margin: 20px 20px;
    text-align: center;
    padding: auto;
    background-color: #F1EFEF;
    box-shadow: 1px 1px 1.5px #675151;
    border: 1px solid #C7BFBF;
}

/*= Content - Checkout
--------------------------------------------------------*/
#checkout-products {
    border-collapse: collapse;
    width: 60%;
    border-radius: 2px;
    background-color: #F1EFEF;
    box-shadow: 1px 1px 1.5px #675151;
    border: 1px solid #C7BFBF;
    margin-right: 30px;
}

#checkout-products td, #checkout-products th {
    border-bottom: 1px solid #ddd;
    padding: 15px 30px;
}

#checkout-products tr:nth-child(even){
    background-color: #F1EFEF;
}

#checkout-products tr:hover {
    background-color: #d7d3d2;
}

#checkout-products th {
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    padding: 10px;
    background-color: #230D0C;
    border-bottom: 2px solid #fff;
}

.img-table{
    width: 40%;
    margin-right: 15px;
    margin-top: 25px;
}

.description-table{
    width: 50%;
    text-align: left;
}

.payment-box{
    width: 25%;
}

.payment-card{
    width: 100%;
    height: 250px;
    padding: 10px;
    border-radius: 2px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    background-color: #F1EFEF;
    box-shadow: 1px 1px 1.5px #675151;
    border: 1px solid #C7BFBF;
}

select {
    font-size: .9rem;
    font-weight: 200;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #C7BFBF;
    border-radius: 2px;
    background-color: #fff;
    margin: auto;
}

a.btn-large-secondary{
    background-color: #230D0C;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0px;
    padding: 15px 100px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 1px 1px 2px #675151;
}

a.btn-large-secondary:hover{
    background-color: #664B4B;
    color:#fff;
    font-weight: 500;
}

/*
.itemhols {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
    width: 22%;
    padding:10px;
    min-height: 300px;
   
}


.itemhols h1 {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
    
}


.itemhols p {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px
    
}



.itemholsIm {
    width: 30%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
*/


/*= Content - Product
--------------------------------------------------------*/
.product-img{
    width: 40%;
    height: 20%;
    display: inline-block;
    padding: 10px;
    border: 1px solid #C7BFBF;
    margin-right: 30px;
}


.product-details-card{
    width: 30%;
    height: 100%;
    margin: 0px;
    padding: 10px;
    border-radius: 2px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    background-color: #F1EFEF;
    box-shadow: 1px 1px 1.5px #675151;
    border: 1px solid #C7BFBF;
}

.product-name{
    border-bottom: 5px dotted #230D0C;
}

.sizes-units{
    width: 60%;
    font-size: 1rem;
    font-weight: 200;
}

.quantity-input{
    font-size: .9rem;
    font-weight: 200;
    padding: 5px;
    width: 40%;
    height: 20%;
}

.box-price{
    display: block;
    border-bottom: 5px dotted #230D0C;
    margin-bottom: 20px;
}

.price-text{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin: 0px 0px 10px;
}






